* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
}

body {
  background-image: url("https://hipertextual.com/files/2017/03/color-degradado-fondos-degradados-multicolor-51200.jpg");
}

form {
  background-color: rgb(252, 252, 252);
  width: 30%;
  height: 750px;
  padding: 40px 0px;
  margin: 20px 440px;
  color: rgb(110, 110, 110);
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0px rgba(50, 100, 95, 0.56);
}

form p {
  padding: 10px;
  margin: 0;
  background: rgb(217, 240, 247);
  font-weight: bold;
}

input {
  margin: 10px 5px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgb(247, 237, 235);
  border-radius: 10px;
}

.inputboxes {
  background-color: transparent;
  border-bottom: solid #cacaca 1px;
  border-radius: 0px;
}
